/***  Table of Contents  ***/

// 1. Layout - 7
// 2. Typography - 50
// 3. Buttons - 152

/***  Layout  ***/

@mixin media-query-min($value, $operator: "min-width", $query: "screen") {
  @media #{$query} and (#{$operator}: #{$value}) {
    @content;
  }
}

@mixin media-query-max($value, $operator: "max-width", $query: "screen") {
  @media #{$query} and (#{$operator}: #{$value}) {
    @content;
  }
}

/* ##usage##
    @include media-query-min(500px) {
    }
  */
$xs: 400px;
$sm: 768px;
$md: 1000px;
$lg: 1250px;
$xl: 1800px;

.layout-container {
  // overflow: hidden;
  max-width: 350px;
  width: 90%;
  margin: auto;
  @include media-query-min($xs) {
    max-width: 498px;
    width: 80%;
  }
  @include media-query-min($sm) {
    max-width: 800px;
    width: 80%;
  }
  @include media-query-min($md) {
    max-width: 1000px;
  }
}

.dots-reverse {
  div {
    margin-left: auto;
  }
}

@import url("https://use.typekit.net/lho3axg.css");

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

html {
  font-size: 62.5%;
  * {
    // box-sizing: border-box;
  }
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$headerFont: "kings-caslon-display, serif;";
$bodyFont: "jaf-bernina-sans-condensed";

$black: darkslategrey;
$white: #ffffff;
$blue: #026891;
$yellowDark: #efb234;
$yellow: #ffdc5e;
$red: #c93928;

h1,
h2,
h3,
h4 {
  font-family: $headerFont;
  font-weight: 400;
  color: $black;
  margin: 0;
}
p {
  font-family: $bodyFont;
  font-weight: 300;
}
a {
  text-decoration: none;
  font-family: $headerFont;
}
p,
a {
  letter-spacing: 0.2rem;
  font-size: 16px;
  line-height: 150%;
  color: $black;
  font-weight: 400;
  @include media-query-min($sm) {
    font-size: calc(16px + 2 * ((100vw - 320px) / 680));
  }
  @include media-query-min($md) {
    @include font-size(1.8);
    line-height: 32px;
  }
}
h1 {
  letter-spacing: 0.2rem;
  font-size: 48px;
  line-height: 110%;
  color: $blue;
  @include media-query-min($sm) {
    font-size: calc(48px + 12 * ((100vw - 320px) / 680));
  }
  @include media-query-min($md) {
    @include font-size(6);
  }
}
h2 {
  letter-spacing: 0.2rem;
  font-size: 24px;
  line-height: 125%;
  @include media-query-min($sm) {
    font-size: calc(24px + 12 * ((100vw - 320px) / 680));
  }
  @include media-query-min($md) {
    @include font-size(3.6);
  }
}
h3 {
  letter-spacing: 0.2rem;

  font-size: 18px;
  line-height: 135%;
  @include media-query-min($sm) {
    font-size: calc(18px + 4 * ((100vw - 320px) / 680));
  }
  @include media-query-min($md) {
    @include font-size(2.2);
    line-height: 36px;
  }
}
h4 {
  letter-spacing: 0.2rem;
  font-size: 16px;
  line-height: 150%;
  color: $black;
  font-weight: 400;
  @include media-query-min($sm) {
    font-size: calc(16px + 2 * ((100vw - 320px) / 680));
  }
  @include media-query-min($md) {
    @include font-size(1.8);
    line-height: 32px;
  }
}

li {
  list-style: none;
}

/***  Utilities  ***/

.dots-reverse {
  div {
    margin-left: auto;
  }
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

/***  Buttons  ***/

.btn {
  background-color: $yellow;
  padding: 15px 30px;
  margin: 30px auto;
  border: 0px;
  color: white;
  font-family: $headerFont;
  font-size: 22px;
  a {
    color: white;
    font-family: $headerFont;
    font-size: 22px;
  }
  text-align: center;
}

// Navigation

.mobile-nav {
  .nav-active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
    width: 110vw;
    background-color: $yellow;
    ul {
      margin-top: 50px;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      .nav-link__mobile {
        a {
          color: white;
          font-size: 30px;
          margin-top: 20px;
          line-height: 80px;
        }
      }
    }
  }
  .btn-nav {
    &:focus {
      outline: none;
    }
    height: 50px;
    width: 50px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    border: 0px;
    position: absolute;
    top: 5px;
    right: 25px;
    span {
      width: 50px;
      height: 5px;
      margin-bottom: 5px;
      margin-top: 5px;
      background: $blue;
      z-index: 2;
    }
    .burger-2 {
      position: relative;
    }
    &.nav-close {
      .burger-1 {
        position: relative;
        transform: rotate(-45deg);
        top: 15px;
        transition: all 0.15s ease-in-out;
      }
      .burger-2 {
        position: relative;
        left: 150px;
        overflow: hidden;
        transition: all 0.15s ease-in-out;
      }
      .burger-3 {
        position: relative;
        top: -15px;
        transform: rotate(45deg);
        transition: all 0.15s ease-in-out;
      }
    }
    &.nav-open {
      .burger-1 {
        transform: rotate(0deg);

        transition: all 0.15s ease-in-out;
      }
      .burger-2 {
        overflow: hidden;
        transition: all 0.15s ease-in-out;
      }
      .burger-3 {
        transform: rotate(0deg);
        transition: all 0.15s ease-in-out;
      }
    }
  }
}
.desktop-nav {
  position: absolute;
  z-index: 1;
  ul {
    display: flex;
    justify-content: flex-end;
    li {
      list-style: none;
      margin-right: 30px;
      a {
        color: $blue;
        &.active:after {
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          margin: 0 auto;
          background-color: $blue;
          position: relative;
          top: 8px;
        }
      }
    }
  }
}
