/***  Table of Contents  ***/

// 1. Layout - 7
// 2. Typography - 50
// 3. Buttons - 152
// 4. images - 228

/***  Layout  ***/

@mixin media-query-min($value, $operator: "min-width", $query: "screen") {
  @media #{$query} and (#{$operator}: #{$value}) {
    @content;
  }
}

@mixin media-query-max($value, $operator: "max-width", $query: "screen") {
  @media #{$query} and (#{$operator}: #{$value}) {
    @content;
  }
}

/* ##usage##
    @include media-query-min(500px) {
    }
  */
$xs: 400px;
$sm: 768px;
$md: 1000px;
$lg: 1250px;
$xl: 1800px;

.layout-container {
  // overflow: hidden;
  max-width: 350px;
  width: 90%;
  margin: auto;
  @include media-query-min($xs) {
    max-width: 498px;
    width: 80%;
  }
  @include media-query-min($sm) {
    max-width: 800px;
    width: 80%;
  }
  @include media-query-min($md) {
    max-width: 1000px;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&family=Shadows+Into+Light+Two&display=swap");

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

html {
  font-size: 62.5%;
}
$headerFont: "Shadows Into Light Two", cursive;
$bodyFont: "Raleway", sans-serif;

$campfire: #57618b;
$lichen: #cfd29f;
$gold: #d79741;
$stone: #b7aeb9;
$clay: #e9e9e9;
$plum: #5d3350;
$river: #a8afbf;
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: $clay;
}

h1,
h2,
h3,
h4 {
  font-family: $headerFont;
  font-weight: 400;
  color: $campfire;
  margin: 0;
}
p {
  font-family: $bodyFont;
  font-weight: 700;
}
a {
  text-decoration: none;
  font-family: $headerFont;
}
p,
a {
  letter-spacing: 0.2rem;
  font-size: 16px;
  line-height: 150%;
  color: $campfire;
  font-weight: 400;
  // @include media-query-min($sm) {
  //   font-size: calc(16px + 2 * ((100vw - 320px) / 680));
  // }
  // @include media-query-min($md) {
  //   @include font-size(1.8);
  //   line-height: 32px;
  // }
}
.paragraph--bold {
  font-weight: 700;
}
h1,
.h1 {
  letter-spacing: 0.2rem;
  font-size: 48px;
  line-height: 110%;
  color: $campfire;
  @include media-query-min($sm) {
    font-size: calc(48px + 12 * ((100vw - 320px) / 680));
  }
  @include media-query-min($md) {
    @include font-size(6);
  }
}
h2,
.h2 {
  letter-spacing: 0.2rem;
  font-size: 28px;
  line-height: 125%;
  @include media-query-min($sm) {
    font-size: calc(28px + 12 * ((100vw - 320px) / 680));
  }
  @include media-query-min($md) {
    @include font-size(3.6);
  }
}
h3,
.h3 {
  letter-spacing: 0.2rem;
  color: $plum;
  font-size: 24px;
  line-height: 135%;
  @include media-query-min($sm) {
    font-size: calc(24px + 4 * ((100vw - 320px) / 680));
  }
  @include media-query-min($md) {
    @include font-size(2.2);
    line-height: 36px;
  }
}
h4 {
  letter-spacing: 0.2rem;
  font-size: 16px;
  line-height: 150%;
  color: $campfire;
  font-weight: 400;
  @include media-query-min($sm) {
    font-size: calc(16px + 2 * ((100vw - 320px) / 680));
  }
  @include media-query-min($md) {
    @include font-size(1.8);
    line-height: 32px;
  }
}

li {
  list-style: none;
}
.accent {
  font-weight: 100;
}
button {
  transition: all 0.25s ease-in;
  &:hover {
    background: $plum;
    transition: all 0.25s ease-in;
  }
}

/***  Utilities  ***/

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}

.position-absolute {
  position: absolute;
}
.position-relative {
  position: relative;
}
.position-fixed {
  position: fixed;
}

/***  Buttons  ***/

.btn {
  background-color: rebeccapurple;
  padding: 15px 30px;
  margin: 30px auto;
  border: 0px;
  color: white;
  font-family: $headerFont;
  font-size: 22px;
  a {
    color: white;
    font-family: $headerFont;
    font-size: 22px;
  }
  text-align: center;
}

/***  Images  ***/

img {
  max-width: 100%;
}
.img--full {
  width: 100%;
  img {
    width: 100%;
    object-fit: cover;
  }
}

.theme--btn {
  position: absolute;
  border: 2px solid orange;
  right: 10px;
  top: 75px;
  z-index: 2;
}

//// Dark Theme Styles //

.dark-theme {
  background: $campfire;
  a,
  p,
  h1,
  h2,
  h4 {
    color: $clay;
  }
  h3 {
    color: $gold;
  }
  .stone-box {
    background: $plum !important;
  }

  .btn--container > button {
    background: $clay;
    color: $campfire;
    transition: all 0.25s ease-in;
    &:hover {
      background: $plum;
      color: $gold;
    }
  }
  .menu-logo {
    background: rgba(233, 233, 233, 0.1);
    border-radius: 50%;
    padding: 5px;
  }
}
